@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* Custom Properties */
  --pink: hsl(322, 100%, 66%);
  --very-pale-cyan: hsl(193, 100%, 96%);
  --footer-bg-clr: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);
}

html,
body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  background-color: var(--footer-text-clr);
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
}

footer {
  background-color: var(--footer-bg-clr);
  color: white;
}

li {
  list-style-type: none;
  margin-bottom: 1rem;
}

/*li > * {
  display: inline;
  margin-right: 1rem;
}*/

a {
  color: white;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-wrapper {
  margin-bottom: 3rem;
}

.contact {
  display: grid;
  grid-template-columns: 5ch 1fr;
}

.contact-text {
  margin-block: 0;
}
